@{
    ViewData["Title"] = "Home Page";
}

<section id="23" class="post tag-netcore tag-roslyn tag-aspnet tag-net featured">
    <h3 class="post-title"><a href="/net-core-ecosystem-my-thoughts/">.NET Core Ecosystem - My thoughts</a><span class="separator"> &middot; </span>February 17, 2017<span class="taglist"> &middot; <a href="/tag/netcore/">netcore</a> <a href="/tag/roslyn/">roslyn</a> <a href="/tag/aspnet/">aspnet</a> <a href="/tag/net/">.net</a></span><span class="separator"> &middot; </span><i class="fa fa-star-o feature-star"></i></h3>
    <section class="post-excerpt">
        <p>I have been following the .NET Core development and release for a while and excited to see the direction where it is going. I think this should have been the focus some time back, however its still good time with many lessons learned over the years.  Involving the community and opening up the source and accepting contributions was one of the key factors in making .Net Core a great product. Making a .NET Standard was another one, providing an api <a class="read-more" href="/net-core-ecosystem-my-thoughts/"> &raquo;&raquo;</a></p>
    </section>
</section>

<section id="3" class="post tag-computer-security tag-trojans tag-hacking">
    <h3 class="post-title"><a href="/avoid-getting-hacked-watch-out-for-trojans/">Avoid getting hacked - watch out for trojans</a><span class="separator"> &middot; </span>March 4, 2015<span class="taglist"> &middot; <a href="/tag/computer-security/">computer security</a> <a href="/tag/trojans/">trojans</a> <a href="/tag/hacking/">hacking</a></span></h3>
    <section class="post-excerpt">
        <p>Earlier today, I received a message on Skype on my PC from a friend.   Malisa Ncube video: http://24onlineskyvideo.in.ua/video/?n=Malisa%20Ncube :) The message came through a contact on Skype, who I suspect has infected his PC. On clicking the link, one would see a screen like this below.  It quite deceptive in that, it pretends to be buffering the video and the play button in the center glows like any common video you can play. It <a class="read-more" href="/avoid-getting-hacked-watch-out-for-trojans/"> &raquo;&raquo;</a></p>
    </section>
</section>